$sub-color: #53B350;
$thin-sub-color: #75a573;

$downloadLogo: "/static/img/logo-1x.jpg";
$downloadLogo2x: "/static/img/logo-2x.jpg";
$downloadLogo3x: "/static/img/logo-3x.jpg";

$logo: "/static/img/logo-across-1x.png";
$logo2x: "/static/img/logo-across-2x.png";
$logo3x: "/static/img/logo-across-3x.png";

$avatar: "/static/img/avatar.png";
$avatar2x: "/static/img/avatar.png";
$avatar3x: "/static/img/avatar.png";